%table
  %thead
    %tr
      %th 日付
      %th 項目
      %th 入金
      %th 出金
      %th 詳細
  %tbody
    - @balances.each do |balance|
      %tr
        %td= balance.created_at.strftime("%Y-%m-%d")
        %td= balance.category_name
        %td= balance.income_price
        %td= balance.outgo_price
        %td= balance.comment
